:root {
  --main-border-radius: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #ffffff;
  color: #000000;
  font-family: "PT Sans", Calibri, Helvetica, Arial, sans-serif;
  z-index: 1;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  padding: 20px 0;
}

.mask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 150;
  visibility: hidden;
  text-align: center;
}

.dnd {
  box-sizing: border-box;
  border: dashed 4px #b1b3b5;
  border-radius: 15px;
  padding-top: 42vh;
  visibility: inherit;
}

.dnd::after {
  content: "Перетяните сюда файл";
  font-size: 3rem;
}

main {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 600px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #a8bfae;
  border-radius: 10px;
}

.ws-status {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ad3636;
  margin-left: 20px;
}

.menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.menu-head {
  cursor: pointer;
}

.menu-find {
  cursor: pointer;
}

.content {
  margin: 10px 0;
  overflow: hidden;
  flex-grow: 1;
  position: relative;
  background-color: #8f8fd94d;
  border-radius: 10px;
  padding: 10px;
}

.content-row {
  height: calc(100% - 20px);
  margin: 10px 0;
  overflow: auto;
}

.element {
  position: relative;
  max-width: 60%;
  padding: 20px 10px 5px 10px;
  font-size: 18px;
  word-wrap: break-word;
  background-color: #e8f3ce;
}

.mess-menu {
  position: absolute;
  right: 10px;
  top: 2px;
  visibility: hidden;
  z-index: 10;
}

.element:hover .mess-menu {
  visibility: visible;
}

.menu-option {
  position: relative;
}

.mess-user-body {
  padding: 0 20px 4px 0;
}

.non-txt {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mess-link {
  color: #68bbe4;
  text-decoration: none;
}

.mess-img {
  min-width: 100px;
  max-width: 150px;
  border-radius: 5px;
}

.mess-file {
  width: 80px;
  height: 100px;
  border-radius: 5px;
  background-image: url("../svg/file-regular.svg");
  background-position: center;
  background-size: cover;
}

.big-img {
  max-width: 100%;
}

.name-file {
  color: #828689;
  font-size: 0.9rem;
  text-align: right;
}

.mess-footer {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  color: #828689;
  font-size: 0.9rem;
}

.time-stp,
.name-file {
  text-align: right;
}

.geo-stp {
  margin-right: 20px;
}

.row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  overflow: visible;
}

.mess-user {
  align-items: flex-end;
}

.mess-bot {
  align-items: flex-start;
}

.el-user {
  margin-right: 10px;
  border-radius: 5px 5px 0 5px;
}

.el-bot {
  margin-left: 10px;
  border-radius: 0 5px 5px 5px;
}

.input-field {
  position: relative;
  border: none;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  width: 100%;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

input {
  outline: none;
  box-shadow: none;
}

.btn-microphone {
  width: 24px;
  height: 30px;
  background-color: #a8bfae;
  border: none;
  background-size: cover;
  cursor: pointer;
  background-image: url("../svg/microphone-solid.svg");
  margin: 0 10px;
}

.button {
  width: 28px;
  height: 28px;
  background-color: #a8bfae;
  border: none;
  background-size: cover;
  cursor: pointer;
}

.rec-video {
  background-image: url("../svg/video-solid.svg");
  width: 29px;
  height: 25px;
}

.menu-find {
  background-image: url("../svg/magnifying-glass-solid.svg");
}

.menu-option {
  background-image: url("../svg/bars-solid.svg");
}

.menu-info {
  background-image: url("../svg/circle-info-solid.svg");
}

.menu-clip {
  background-image: url("../svg/paperclip-solid.svg");
  width: 24px;
  height: 28px;
}

.menu-emoji {
  background-image: url("../svg/face-smile-solid.svg");
  width: 26px;
  height: 26px;
}

.upload {
  position: relative;
}

.visible {
  visibility: visible;
}

.upload-item {
  background-color: #a8bfae;
  width: 100%;
  padding: 5px 10px;
  text-align: left;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.upload-item:hover {
  background-color: #8c9d91;
}

.message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #a8bfae;
  border-radius: 10px;
}

form {
  width: 100%;
  display: flex;
  align-items: center;

  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.form-input {
  width: 100%;
}

.rec-panel {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.rec-panel-item {
  margin: 0 3px;
  color: #b1b3b5;
  width: 40px;
  height: 40px;
  background-color: #2a2f32;
  border: solid 1px #2a2f32;
  cursor: pointer;
}

.send-btn {
  width: 45px;
  height: 45px;
  color: #056162;
}

.stop-btn {
  width: 45px;
  height: 45px;
  color: red;
}

.rec-time {
  margin: 0 5px;
  font-size: 1.3rem;
  user-select: none;
}

.video-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  width: 80%;
  background-color: #33383b;
}

.video-cap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  width: 80%;
  height: 100px;
  background-color: #33383b;
  border-radius: 5px;
}

.play-video {
  max-width: 100%;
  background-color: #33383b;
  border-radius: 5px;
}

.tab-overlay {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
}
.tab-head {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #2a2f32;
  border-radius: 10px;
  height: 48px;
}

.tab-content {
  overflow: auto;
  margin: 10px;
  height: calc(100% - 68px);
}

.tab-title {
  font-size: 24px;
  padding-left: 10px;
  margin-right: 10px;
  color: white;
}

.tab-closebtn {
  height: 44px;
  font-size: 2.5rem;
  color: #828689;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0 5px;
}

.tab-overlay .tab-closebtn:hover,
.tab-overlay .tab-closebtn:focus {
  color: #f1f1f1;
}

.content-row::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.messages__emoji::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.content-row::-webkit-scrollbar-thumb {
  background: #79309d;
  border-radius: 5px;
}

.messages__emoji::-webkit-scrollbar-thumb {
  background: #79309d;
  border-radius: 5px;
}

.messages__emoji::-webkit-scrollbar-track {
  background-color: #ddd;
  border: 1px solid #ccc;
}

.messages__emoji::-webkit-scrollbar-button:hover {
  background-color: #999999;
}

.content-row::-webkit-scrollbar-track {
  background-color: #ddd;
  border: 1px solid #ccc;
}

.content-row::-webkit-scrollbar-button {
  background-color: #2b1234;
  border-radius: 5px;
}

.content-row::-webkit-scrollbar-button:hover {
  background-color: #999999;
}

.messages__emoji {
  position: absolute;
  background-color: #a8bfae;
  grid-template-columns: repeat(15, 1fr);
  display: grid;
  bottom: 85px;
  width: 545px;
  left: 20px;
  height: 150px;
  overflow: auto;
  padding: 10px;
  border-radius: 10px;
  transition:
    bottom 0.3s ease,
    opacity 0.3s ease;
}

.messages-emoji__item {
  cursor: pointer;
  padding: 6px 0;
  height: 35px;
  width: 35px;
  border-radius: 10px;
  font-size: 24px;
}
